<div id="prod-top" class="prod-top-img col-md-12">
    <div class="cart-txt-top">
        <img ng-src="images/products/{{product.src}}" alt="{{product.name}}"/>
        <p class="text-info">
            <span class="product-name-title"> {{product.name}}:</span> {{product.description}}<br />
        </p>
    </div>
</div>
<div class="clear"></div>
<div class="col-md-12 content-backcolor">
    <div class="col-md-8">
        <!-- product info -->
        <table class="table table-bordered">

            <tr class="well">
                <td class="tdRight" colspan="3" >
                    <h4 style="float:left;"> Currently {{product.stock - cart.getTotalCount(product.code)}} in stock </h4>
                    <a href="index.html#/cart" class="cart-txt-color" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                        <img src="images/cart.png" alt="" />
                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency : '£'}}</b>
                        <span class="txt-cart-prod" ng-show="cart.getTotalCount(product.code) > 0"><br />this item is in the cart</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <!-- buttons -->
    <div class="col-md-4">
        <button ng-disabled="(product.stock - cart.getTotalCount(product.code) == 0) ? 1 : 0;"
                class="btn btn-block btn-success"
                ng-click="cart.addItem(product.code, product.category, product.name, product.price, product.stock, 1);">
            <i class="icon-shopping-cart icon-white fa fa-cart-plus"> &nbsp;&nbsp;Add to cart </i>
        </button>
        <button
                class="btn btn-block btn-danger"
                ng-click="cart.addItem(product.code, product.category, product.name, product.price, product.stock, -10000)"
                ng-disabled="cart.getTotalCount(product.code) < 1">
            <i class="icon-trash icon-white fa fa-cart-arrow-down"> &nbsp;&nbsp;Remove from cart </i>
        </button>
        <button
                class="btn btn-block"
                onclick="window.location.hash='store'">
            <i class="fa fa-home" > &nbsp;&nbsp;Back to store </i>
        </button>
    </div>
</div>